.navbar-container{
    
    color: white;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    /* gap: 71%; */
    align-items: center;
    
}

.logo-navbar{
    margin-right: 700px;
    color: white;
    text-decoration: none;
}

.pages-navbar{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.page-navbar{
    margin: 10px;
    font-weight:bolder;
}