body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Gruppo', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

button {
  background-color: black;
  color: white;
  font-weight:bolder;
  border: solid 2px white;
  border-radius: 2px;
  margin: 2px;
  padding: 10px;
  cursor: pointer;
}

button:active{
  background-color: rgb(235, 232, 232);
  color: black;
}

a {
  text-decoration: none;
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
